@{
  ViewData["Title"] = "Type Page";
}

<!DOCTYPE html>
<html lang="lt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/site.css">
  <link rel="stylesheet" href="~/css/Type.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="type-page-body">
<div class="type-page-title">
  <p>Galima pradėti rašyti</p>
</div>


<div class="typing-container">
  <p id="typing-text" class="typing-text"></p>
</div>


<div class="button-container">
  <button class="restart-button">
    Pradėti iš naujo
  </button>
  <button class="next-text-button">
    Kitas tekstas
  </button>
</div>
<script src="~/js/site.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>