.game-data-body {
    font-family: "Courier Prime";
}

.top-ribbon {
    position: relative;
    margin-top: 30px;
    margin-bottom: 50px;
}

.game-data-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.current-user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.current-user-text {
    color: grey;
}

.game-data-container {
    border-style: solid;
    border-color: rgb(11, 94, 215);
    border-width: 5px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.wpm-acc-graph {
    display: grid;
    grid-template-columns: 125px 1fr;
    margin-bottom: 20px;
}

.top-text {
    font-size: 30px;
    color: darkgray;
}

.top-number {
    font-size: 50px;
    font-weight: bold;
    margin-top: -20px;
}

.graph {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-words-characters-startTime-endTime {
    display: flex;
    justify-content: space-between;
}

.bottom-text {
    font-size: 20px;
    color: darkgray;
}

.bottom-number {
    font-size: 30px;
    font-weight: bold;
    margin-top: -10px;
}

.paragraph {
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.back-to-start-button,
.see-leaderboard-button {
    background-color: rgb(11, 94, 215);
    opacity: 0.9;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    transition: opacity 0.15s;
}

.back-to-start-button:hover,
.see-leaderboard-button:hover {
    opacity: 1;
}

.see-leaderboard-button {
    margin-right: 10px;
}