.type-page-body {
    
}

.type-page-title {
    margin-top: 30px;
    font-family: 'Courier Prime';
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.chronometer {
    font-family: 'Courier Prime';
    font-size: 35px;
    text-align: center;
}

.typing-container {
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
    overflow: auto;
    margin-bottom: 50px;
}

.typing-text {
    font-family: 'Courier Prime';
    font-size: 40px;
    color: grey;
    margin: 0;
    padding: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier Prime';
    font-size: 20px;
}

.restart-button,
.next-text-button {
    background-color: rgb(11, 94, 215);
    opacity: 0.9;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    transition: opacity 0.15s;
}

.restart-button:hover,
.next-text-button:hover {
    opacity: 1;
}

.restart-button {
    margin-right: 50px;
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: silver;
    }
}